<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>
<p>要使用wordladder，请先登录</p>

<form th:action="@{/login}" method="post">

    <table>
        <tbody>
        <tr>
            <td align="right">用户名:</td>
            <td><input type="text" id="username" name="username"/></td>
        </tr>
        <tr>
            <td align="right"> 密码:</td>
            <td><input type="password" id="password" name="password"/> </td>
        </tr>
        <tr>
            <td><input type="submit" value="登陆"/></td>
            <td><input type="submit" value="退出登录" /></td>
        </tr>
        <tr><td><p><a href="/index" th:href="@{/index}">返回主页</a></p></td></tr>
        </tbody>
    </table>
</form>

</body>
</html>
</html>